<% layout('/layouts/boilerplate') -%>

<div class="row">
    <div class="alert alert-danger d-flex align-items-center col-8 offset-2" role="alert">
        ⚠️&nbsp;&nbsp;<p style="margin-top:20px;"><%=message %></p>
        </div>
      </div>
        
   
</div>